body, .inputForm, a {
    font-family: 'Work Sans', sans-serif;
}

h1, h2 {
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.2%;
    font-family: "Crimson Text", serif;
}

h3 {
    font-size: 1vw;
    font-weight: normal;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#title1 {
    font-size: 2.5vw;
    text-align: left;
    margin-bottom: -1%;
    margin-top: 0%;
    margin-left: 1%;
}

#title2 {
    font-size: 1vw;
    text-align: left;
    margin-top: 0.6%;
    margin-left: 1%;
    color: black;
}

a {
    color: blue;
}

p, hr {
    margin-left: 1%;
    margin-right: 1%;
}

ul, li {
    margin-left: 0%;
}

table, th, td, button {
    margin-top: -1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    border-radius: 0.2vw;
}

button:hover, button:focus {
    cursor: pointer;
    background: lightgrey;
}

#savedParametersTable {
    hyphens: auto;
}

#fileName {
    text-align: center;
    width: 10%;
}

.tablealign {
    text-align: center;
}

#loadColumn {
    text-align: center;
    margin-left: 5%;
    width: 5%;
}

#deleteColumn {
    text-align: center;
    margin-left: 5%;
    
}

.loadButton, .deleteButton {
    margin: auto;
    display: grid;
}

#resetButton {
    margin-top: 0.3vw;
}

.sub {
    position: relative; 
    top: 0.8ex; 
    font-size: 75%;
}

th, td {
    padding: 5px;
    text-align: left;
    width: 5%;
}

/* Kan nok slettes */
h2, .infoTable {
    margin-top: 0%;
    margin-bottom: 0%;
}

.savedTable {
    margin-top: 1%;
}

.titles {
    margin-top: 1vw;
}

#savedName {
    margin-left: 1%;
    width: 40%;
}

.chart {
    width: 100%;
    height: 26vw;
    margin-bottom: -1.5vw;
    text-align: center;
}

#parametersTitle {
    margin-bottom: -2%;
}

#leftContainer {
    float: left;
    width: 65.5%;
    margin-bottom: 3%;
}

#leftInfo {
    display: inline-block;
}

#rightContainer {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 32%;
}

.checkbox {
    margin-top: -1%;
    margin-left: 0%;
}

.sliderDiv {
    width: 50vw;
    margin-top: 0%;
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 1%;
    margin-right: 0.1vw;
    float: left;
}

.sliderDivTall {
    width: 12.25vw;
    margin-top: 0%;
    overflow: hidden;
}

.sliderBox {
    display: inline-block;
    width: 24.5%;
    height: 8vw;
    background: lightgrey;
    border-radius: 2%; /* Gives the box rounded corners */
    margin-top: 0vw;
    overflow: hidden;
}

#daysBox {
    width: 100%;
    height: 16.25vw;
}

.sliderDes {
    font-size: 0.7vw;
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 2.5vw;
    hyphens: auto;
}

#daysDes {
    height: 10.7vw;
}

#S0Checkbox {
    margin-top: -10%;
    margin-bottom: -10%;
    margin-left: 5%;
    margin-right: 5%;
}

.slider {
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.inputForm {
    font-size: 1vw;
    text-align: left;
    background-color: transparent;
    border: 0;
    border-color: transparent;
    width: 90%;
    margin-top: -10%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: none !important;  /* Removes the red outline */
}

/* Removes arrows in the input form */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mathFunc {
    font-size: 0.8vw;
    line-height: 2;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.mathText {
    font-size: 0.8vw;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 1.5;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Modal Text */
.modalText {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0%;
    text-align: justify;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    margin-right: 0%;
    margin-top: -1%;
    font-size: 250%;
    font-weight: bold;
}

/* Change mouse when it hovers the X */
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    font-size: 0.7vw;
    color: white;
    position: relative;
    display: inline-block;
    cursor: default;
    background-color: blue;
    border-radius: 50%;
    width: 0.85vw;
    height: 0.85vw;
    text-align: center;
    transition: 0.3s;   
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-weight: normal;
    visibility: hidden;
    width: 12vw;
    background-color: #555;
    padding: 10px 0;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -6vw;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
    cursor: default;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    cursor: default;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    cursor: default;
}

.tooltip:hover {
    background-color: #555;
}

#graphHelp {
    margin-top: 0.3vw;
    margin-left: 31vw;
    position: absolute;
}

#error {
    margin-left: 8vw;
    margin-top: 0.1vw;
    color: red;
    position: absolute;
}

.arrow:hover {
    cursor: pointer;
    color: #555;
}

#comparisonGraph {
    margin-left: 54vw;
    margin-top: -1.2vw;
    position: absolute;
}

#comparisonHelp {
    margin-left: 61.3vw;
    margin-top: -1.1vw;
    position: absolute;
}