@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

h1, h2, h3, h4, h5, p, button {
    font-family: helvetica,arial;
    color: white;
    margin-left: 10%;
    margin-right: 10%;

}

body {
    background: #202020;
}

#outerDiv {
    width: 90%;
    border: 15% solid green;
    padding: 0%;
    margin: auto;
    text-align: center;
    background-color: #181818
}

.center {
    text-align: center;
}

.sliders {
    display: inline-block;
    width: 19.85%;
    height: 200px;
    background: red;
    font-size: 150%;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    height: 550px;
    position: relative;
    background-color: black;
}

.inputBar {
    width: 100px;
}