body, .inputForm, a {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    margin-left: 1%;
    font-family: 'Crimson Text', serif;
}

a {
    color: blue;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

ul, li {
    margin-left: 0%;
}


.sub {
    position: relative;
    top: 0.8ex;
    font-size: 75%;
}

table, th, td, button {
    margin-top: -1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    padding: 5px;
    text-align: left;
    width: 5%;
}
td {
    padding: 5px;
    text-align: left;
    width: 5%;
}

.diseasesTable {
    margin-top: 0%;
}


#infoTitle {
    margin-bottom: -0%;
}

.infoTable {
    margin-top: 0%;
    margin-bottom: 5%;
}

.savedTable {
    margin-top: 1%;
}

#title1 {
    font-size: 2.5vw;
    text-align: left;
    margin-bottom: -1%;
    margin-top: 0%;
    margin-left: 1%;
    /*padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #383838; */
}

#titledes {
    font-size: 1vw;
    text-align: left;
    margin-left: 1%;
    color: black;
}

.chart {
    width: 100%;
    margin-bottom: 0.5%;
    height: 520px;
    text-align: center;
}


#resetButton {
    
}

#left-container {
    float: left;
    /*border: 2px solid red;*/
    width: 65.5%;
}

#right-container {
    float: left;
    /*border: 2px solid green;*/
    margin-left: 1%;
    width: 30%;
}

.sliderBoxes {
    text-align: center;
}

.slider {
    width: 5vw;
}

.sliders {
    display: inline-block;
    width: 24.0%;
    height: 220px;
    background: lightgrey;
    border-radius: 3%;
    margin-top: 0.5%;
}

.sliderTitle {
    font-size: 1.2vw;
    text-align: left;
    height: 25%;
}

.sliderDes {
    font-size: 0.8vw;
    text-align: left;
    margin-top: -5%;
    height: 15%;
    /*text-align: justify; */
}

.sliderValue {
    font-size: 120%;
}

#xSlider1 {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

/* Removes arrows in the input form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputForm {
    font-size: 120%;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: 0;
}

#myRange1Form {
    width: 20%
}

.mathTitle {

    font-weight: bold;
    font-size: 150%;
}

.mathFunc {
    text-align: center;
    font-size: 100%;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Modal Text */
.modalText {
      margin-left: 1%;
      margin-right: 1%;
      text-align: justify;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    margin-right: 0%;
    margin-top: -1%;
    font-size: 250%;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}