body, .inputForm {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, p, button {
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

.sub { 
    position: relative; 
    top: 0.8ex; 
    font-size: 75%; 
}

table, th, td {
    margin-top: 2%;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

#title1 {
    font-size: 300%;
    text-align: center;
    margin-bottom: 1%;
    /*padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #383838; */
}

.chart {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    height: 520px;
    text-align: center;
}

.sliderBoxes {
    text-align: center;
}

.sliders {
    display: inline-block;
    width: 15.0%;
    height: 220px;
    background: lightgrey;
    border-radius: 3%;
    margin-top: 0.5%;
}

.sliderTitle {
    font-size: 150%;
    font-size: 1.4vw;
    text-align: left;
    height: 25%;
}

.sliderDes {
    font-size: 80%;
    font-size: 0.8vw;
    text-align: left;
    margin-top: -5%;
    height: 15%;
}

.sliderValue {
    font-size: 120%;
}

#xSlider1 {
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
}

/* Removes arrows in the input form */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputForm {
    font-size: 120%;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: 0;
}

#myRange1Form {
    width: 20%
}
